.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  /*background-image: url("../images/background_img.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;*/
  background-color: #23423c !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 810px;
  }

  .modal-dialog {
    width: 820px; /* New width for default modal */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    color: #f9f9f9;
    background-color: rgba(114, 153, 212, 0.58);     
  }
}

.alert.alert-success {
  color: #7ae41f;
  background-color: rgba(115, 117, 88, 0.44);     
}

.alert-dismissable .close, .alert-dismissible .close {
    color: #fb0404;
  }

.alert.alert-danger {
  color: #f70013;
  background-color: rgba(138, 79, 84, 0.44);     
}

.alert-info {
  color: #85fdff;
  background-color: rgba(143, 212, 228, 0.44); 
}

.link_btn_color {
  color: #ddf2f7 !important;
}