<div class="jumbotron">
  <h3>Intent Grid</h3>
  <hr>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th align="center">S.NO</th>
          <th align="center">Intent</th>
          <th align="center">Text</th>
          <th align="center">Entity</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="intentData in vmIntentGrid.trainData.rasa_nlu_data.common_examples">
          <td>{{$index}}</td>
          <td><input type="text" ng-model="intentData.intent" name="{{$index}}_intent" /></td>
          <td><input type="text" ng-model="intentData.text" name="{{$index}}_text" /></td>
          <td><i class="glyphicon glyphicon-plus-sign icons_size pointer" style="color:lightblue;" ng-click="vmIntentGrid.addEntity($index)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/ng-template" id="addEntity.html">
   <div class="modal-header">
     <h4 class="modal-title" id="myModalLabel">Entity Details</h4>
   </div>
   <div class="modal-body text-center">
      Text : <input type="text" name="selected_text" ng-model="vmIntentGrid.trainData.rasa_nlu_data.common_examples[vmIntentGrid.selectedIndexVal].text" />
      Intent : <input type="text" name="selected_intent" ng-model="vmIntentGrid.trainData.rasa_nlu_data.common_examples[vmIntentGrid.selectedIndexVal].intent" />
      <i class="glyphicon glyphicon-plus-sign icons_size pointer" style="color:lightgreen;" ng-click="vmIntentGrid.addNewEntity(vmIntentGrid.selectedIndexVal)"></i>
     <hr>
    <div class="container">
      <table class="table table-striped" ng-if="vmIntentGrid.trainData.rasa_nlu_data.common_examples[vmIntentGrid.selectedIndexVal].entities.length > 0">
        <thead>
          <tr>
            <th align="center">S.NO</th>
            <th align="center">Value</th>
            <th align="center">Entity</th>
            <th align="center">Start</th>
            <th align="center">End</th>
            <th align="center">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entityData in vmIntentGrid.trainData.rasa_nlu_data.common_examples[vmIntentGrid.selectedIndexVal].entities">
            <td>{{$index}}</td>
            <td><input type="text" ng-model="entityData.value"  name="{{vmIntentGrid.selectedIndexVal}}_{{$index}}_value" /></td>
            <td><input type="text" ng-model="entityData.entity"  name="{{vmIntentGrid.selectedIndexVal}}_{{$index}}_value" /></td>
            <td><input type="number" ng-model="entityData.start"  name="{{vmIntentGrid.selectedIndexVal}}_{{$index}}_value" /></td>
            <td><input type="number" ng-model="entityData.end"  name="{{vmIntentGrid.selectedIndexVal}}_{{$index}}_value" /></td>
            <td><i class="glyphicon glyphicon-minus-sign icons_size pointer" style="color:lightred;" ng-click="vmIntentGrid.removeEntity(vmIntentGrid.selectedIndexVal, $index)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
     <div class="row m-t-20">
       <div class="col-xs-5 text-left">
         <button class="btn  back_button cancel_back_btn" type="button" ng-click="vmIntentGrid.revertEntity(vmIntentGrid.selectedIndexVal)">Cancel</button>
       </div>
       <div class="col-xs-7 text-right">
         <button class="btn user_create_btn" type="button" ng-click="vmIntentGrid.closePopup()">Save</button>
       </div>
     </div>
   </div>
</script>
