<div class="jumbotron">
  <h2>Optisol NLU Trainer</h2>
  <p class="lead">
    <img src="images/optisol-logoTM.png" alt="Optisol_logo" width="300px"><br>
  </p>
  <p>Train your models with great user interface.</p>
  <p>
    <button class="btn btn-link link_btn_color" type="button" onclick="document.getElementById('id_docfile').click()"><u>Upload Key File </u>
    </button>
    <button class="btn btn-link link_btn_color" style="margin-left: -1em;" ng-click="vmMain.validateKeyFile()"><i class="glyphicon glyphicon-open"></i></button>
    <input id="id_docfile" type="file" style="display:none;" accept=".json" name="docfile" 
     ng-files="vmMain.getTheFiles($files)">
     <input type="text" style="display:none;"  id="key_file_data">
  </p>
  <p style="margin-left: 1em;">
    <a href="#!/story_pad"><u>Create Story </u>
    </a>
    <button class="btn btn-link link_btn_color" style="margin-left: 1em;"><i class="glyphicon glyphicon-book"></i></button>
  </p>
  <p ng-if="vmMain.keyFileData"><a class="btn btn-success" ng-href="#!/intent_grid">Training Model  <span class="glyphicon glyphicon-cog"></span></a></p>
</div>
<!-- <div class="row marketing" style="color: white;">
  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
</div> -->
